{% comment %}
  Renders NEXUS icons.
  Accepts:
  - icon_name: {String} Icon Name.
  - class: {String} Icon Class.

  Usage:
  {% render 'nexus-icons', icon_name: icon_name, class: class %}

   Example:
   {%- render 'nexus-icons',
    icon_name: 'cart',
    class: 'icon-class'
  -%}
{% endcomment %}

{% case icon_name %}
  {% when 'rating-star' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="{{ class }}">
      <mask id="mask0_187_260" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
        <rect width="16" height="16" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_187_260)">
        <path d="M3.88301 14.0002L4.96634 9.31683L1.33301 6.16683L6.13301 5.75016L7.99967 1.3335L9.86634 5.75016L14.6663 6.16683L11.033 9.31683L12.1163 14.0002L7.99967 11.5168L3.88301 14.0002Z" fill="#F7F3F1"/>
      </g>
    </svg>
  {% when 'circle-dot' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="7" viewBox="0 0 6 7" fill="none" class="{{ class }}">
      <circle cx="2.77834" cy="3.69924" r="2.77834" fill="url(#paint0_linear_8_3618)"/>
      <defs>
        <linearGradient id="paint0_linear_8_3618" x1="2.76322" y1="1.17757" x2="2.77834" y2="6.47758" gradientUnits="userSpaceOnUse">
          <stop stop-color="#EEC872"/>
          <stop offset="0.165" stop-color="#F9E9C6"/>
          <stop offset="0.465" stop-color="white"/>
          <stop offset="0.65" stop-color="#F8E5BF"/>
          <stop offset="0.82" stop-color="#FEFDFB"/>
          <stop offset="1" stop-color="#EDC367"/>
        </linearGradient>
      </defs>
    </svg>
  {% when 'close-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 25" fill="none">
      <mask id="mask0_60_1036" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="25">
      <rect y="0.849609" width="24" height="24" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_60_1036)">
      <path d="M6.4 19.8496L5 18.4496L10.6 12.8496L5 7.24961L6.4 5.84961L12 11.4496L17.6 5.84961L19 7.24961L13.4 12.8496L19 18.4496L17.6 19.8496L12 14.2496L6.4 19.8496Z" fill="#F7F3F1"/>
      </g>
    </svg>
  {% when 'quotation-mark' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="32" viewBox="0 0 41 32" fill="none">
      <path d="M9.13281 0.751953C11.4766 0.751953 13.4688 1.57227 15.1094 3.21289C16.75 4.85352 17.5703 6.8457 17.5703 9.18945C17.5703 9.58008 17.5312 10.4785 17.4531 11.8848C17.375 13.3691 17.0234 15.127 16.3984 17.1582C15.6953 19.1895 14.6016 21.416 13.1172 23.8379C11.5547 26.3379 9.32812 28.7598 6.4375 31.1035H0.929688C2.49219 29.541 3.82031 27.9785 4.91406 26.416C5.92969 24.8535 6.78906 23.4082 7.49219 22.0801C8.27344 20.5957 8.82031 19.1113 9.13281 17.627C6.78906 17.627 4.79688 16.8066 3.15625 15.166C1.51562 13.5254 0.695312 11.5332 0.695312 9.18945C0.695312 6.8457 1.51562 4.85352 3.15625 3.21289C4.79688 1.57227 6.78906 0.751953 9.13281 0.751953ZM31.8672 0.751953C34.2109 0.751953 36.2031 1.57227 37.8438 3.21289C39.4844 4.85352 40.3047 6.8457 40.3047 9.18945C40.3047 9.58008 40.2656 10.4785 40.1875 11.8848C40.1094 13.3691 39.7578 15.127 39.1328 17.1582C38.5078 19.1895 37.4531 21.416 35.9688 23.8379C34.4062 26.3379 32.1797 28.7598 29.2891 31.1035H23.7812C25.3438 29.541 26.6719 27.9785 27.7656 26.416C28.7812 24.8535 29.6016 23.4082 30.2266 22.0801C31.0078 20.5957 31.5547 19.1113 31.8672 17.627C29.5234 17.627 27.5703 16.8066 26.0078 15.166C24.3672 13.5254 23.5469 11.5332 23.5469 9.18945C23.5469 6.8457 24.3672 4.85352 26.0078 3.21289C27.5703 1.57227 29.5234 0.751953 31.8672 0.751953Z" fill="#393939"/>
    </svg>
  {% when 'search-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" class="{{ class }}">
      <path d="M12.8333 22.1667C17.988 22.1667 22.1667 17.988 22.1667 12.8333C22.1667 7.67868 17.988 3.5 12.8333 3.5C7.67868 3.5 3.5 7.67868 3.5 12.8333C3.5 17.988 7.67868 22.1667 12.8333 22.1667Z" stroke="#F7F3F1" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M24.4969 24.4969L19.4219 19.4219" stroke="#F7F3F1" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'account-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" class="{{ class }}">
      <path d="M14.2963 15.5926C17.6296 15.4444 20.2963 12.6667 20.2963 9.2963C20.2963 5.81481 17.4815 3 14 3C10.5185 3 7.7037 5.81481 7.7037 9.2963C7.7037 12.6667 10.3704 15.4074 13.7037 15.5926C8.22222 15.7778 4 20.1481 4 25.963H5.48148C5.48148 20.7778 9.14815 17.0741 14 17.0741C18.8519 17.0741 22.5185 20.7778 22.5185 25.963H24C24 20.1481 19.7778 15.7778 14.2963 15.5926ZM9.18518 9.33333C9.18518 6.66667 11.3333 4.51852 14 4.51852C16.6667 4.51852 18.8148 6.66667 18.8148 9.33333C18.8148 12 16.6667 14.1481 14 14.1481C11.3333 14.1481 9.18518 11.963 9.18518 9.33333Z" fill="#F7F3F1"/>
    </svg>
  {% when 'cart-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="28" viewBox="0 0 33 28" fill="none" class="{{ class }}">
      <path d="M32.0745 5.27459L32.0747 5.27417L31.8931 4.77793L31.9732 4.71804C31.9732 4.71799 31.9731 4.71795 31.9731 4.71791C31.8536 4.55824 31.6647 4.46569 31.4655 4.46569H8.26175L7.81733 1.43913L7.81731 1.43899C7.77121 1.12809 7.50417 0.9 7.18924 0.9H1.53448C1.18464 0.9 0.9 1.18153 0.9 1.53061C0.9 1.87968 1.18464 2.16122 1.53448 2.16122H6.64075L9.37268 20.7236C9.37269 20.7237 9.3727 20.7237 9.37271 20.7238C9.4174 21.0353 9.68622 21.2631 9.99949 21.2631H29.3278C29.6777 21.2631 29.9623 20.9816 29.9623 20.6325C29.9623 20.2834 29.6777 20.0019 29.3278 20.0019H10.5497L10.2167 17.744H27.9087C28.1903 17.744 28.4384 17.5601 28.5165 17.2911L32.0745 5.27459ZM23.9468 21.6656C22.4371 21.6656 21.2105 22.8823 21.2105 24.3828C21.2105 25.8833 22.4371 27.1 23.9468 27.1C25.4565 27.1 26.6831 25.8833 26.6831 24.3828C26.6831 22.8823 25.4565 21.6656 23.9468 21.6656ZM14.3261 21.6656C12.8164 21.6656 11.5898 22.8823 11.5898 24.3828C11.5898 25.8833 12.8164 27.1 14.3261 27.1C15.8358 27.1 17.0624 25.8833 17.0624 24.3828C17.0624 22.8823 15.8358 21.6656 14.3261 21.6656ZM23.9468 22.9268C24.7568 22.9268 25.4142 23.5805 25.4142 24.3828C25.4142 25.1851 24.7568 25.8388 23.9468 25.8388C23.1368 25.8388 22.4794 25.1851 22.4794 24.3828C22.4794 23.5805 23.1368 22.9268 23.9468 22.9268ZM14.3261 22.9268C15.1361 22.9268 15.7935 23.5805 15.7935 24.3828C15.7935 25.1851 15.1361 25.8388 14.3261 25.8388C13.5161 25.8388 12.8587 25.1851 12.8587 24.3828C12.8587 23.5805 13.5161 22.9268 14.3261 22.9268ZM8.47516 5.72691H30.6181L27.4343 16.4827H10.0323L8.47516 5.72691Z" fill="#F7F3F1" stroke="#F7F3F1" stroke-width="0.2"/>
    </svg>
  {% when 'facebook-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="21" viewBox="0 0 11 21" fill="none">
      <path d="M6.87294 20.0767V10.9543H9.99412L10.4624 7.39784H6.87412V5.12725C6.87412 4.09901 7.16353 3.39784 8.66941 3.39784H10.5882V0.215484C10.2565 0.173131 9.11765 0.0766602 7.79177 0.0766602C5.02353 0.0766602 3.12941 1.73313 3.12941 4.77548V7.39901H0V10.9543H3.12941V20.0767H6.87294Z" fill="#F7F3F1"/>
    </svg>
  {% when 'instagram-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <path d="M14.8943 0.57666H5.28148C4.03703 0.577839 2.84388 1.07272 1.96391 1.95268C1.08395 2.83265 0.58907 4.0258 0.587891 5.27025V14.8831C0.58907 16.1275 1.08395 17.3207 1.96391 18.2006C2.84388 19.0806 4.03703 19.5755 5.28148 19.5767H14.8943C16.1386 19.575 17.3315 19.08 18.2113 18.2001C19.0912 17.3203 19.5862 16.1274 19.5879 14.8831V5.27025C19.5862 4.02594 19.0912 2.83307 18.2113 1.9532C17.3315 1.07334 16.1386 0.57831 14.8943 0.57666ZM14.7963 6.57354C14.5576 6.57324 14.3244 6.50218 14.1261 6.36933C13.9278 6.23648 13.7734 6.04781 13.6823 5.82719C13.5912 5.60656 13.5676 5.36389 13.6145 5.12985C13.6613 4.89581 13.7765 4.68092 13.9455 4.51236C14.1145 4.34379 14.3297 4.22912 14.5638 4.18284C14.798 4.13657 15.0406 4.16076 15.261 4.25237C15.4814 4.34398 15.6697 4.49889 15.8021 4.69751C15.9344 4.89613 16.0049 5.12954 16.0046 5.36822C16.0044 5.5267 15.973 5.68359 15.9122 5.82993C15.8514 5.97627 15.7623 6.1092 15.6501 6.22112C15.5379 6.33305 15.4048 6.42177 15.2583 6.48224C15.1118 6.54271 14.9548 6.57373 14.7963 6.57354ZM10.0879 5.55228C10.9827 5.55228 11.8575 5.81764 12.6015 6.31478C13.3455 6.81192 13.9254 7.51854 14.2679 8.34526C14.6103 9.17198 14.6999 10.0817 14.5253 10.9593C14.3508 11.837 13.9199 12.6431 13.2871 13.2759C12.6544 13.9086 11.8482 14.3395 10.9706 14.5141C10.0929 14.6887 9.18321 14.5991 8.35649 14.2566C7.52977 13.9142 6.82315 13.3343 6.32601 12.5903C5.82887 11.8462 5.56352 10.9715 5.56352 10.0767C5.56524 8.87725 6.04247 7.72746 6.89058 6.87935C7.73869 6.03124 8.88848 5.55401 10.0879 5.55228Z" fill="#F7F3F1"/>
      <path d="M10.0886 12.7997C10.627 12.7997 11.1533 12.64 11.601 12.3409C12.0487 12.0417 12.3976 11.6166 12.6037 11.1191C12.8097 10.6217 12.8636 10.0743 12.7586 9.54622C12.6535 9.01814 12.3943 8.53306 12.0135 8.15234C11.6328 7.77161 11.1477 7.51233 10.6197 7.40729C10.0916 7.30225 9.5442 7.35616 9.04676 7.56221C8.54931 7.76826 8.12414 8.11719 7.82501 8.56487C7.52587 9.01256 7.36621 9.5389 7.36621 10.0773C7.367 10.7991 7.65407 11.4911 8.16443 12.0014C8.6748 12.5118 9.36678 12.7989 10.0886 12.7997Z" fill="#F7F3F1"/>
    </svg>
  {% when 'youtube-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.12691 0.891646C2.24677 1.03936 0.825656 2.5682 0.734131 4.4519C0.658724 6.00395 0.587891 7.78995 0.587891 9.02285C0.587891 10.2699 0.660354 12.0827 0.736722 13.647C0.82751 15.5066 2.21609 17.0253 4.07003 17.1965C6.12231 17.386 9.09172 17.5767 12.7307 17.5767C16.3603 17.5767 19.3238 17.3869 21.3754 17.1979C23.2366 17.0265 24.6279 15.498 24.7174 13.6311C24.7964 11.9841 24.8736 10.0997 24.8736 9.02285C24.8736 7.95763 24.7981 6.1019 24.72 4.46766C24.6296 2.57667 23.2063 1.03833 21.3189 0.890405C19.2988 0.732089 16.3851 0.57666 12.7307 0.57666C9.06692 0.57666 6.14759 0.732898 4.12691 0.891646ZM10.3022 5.41842L16.5625 9.02285L10.3022 12.6273V5.41842Z" fill="#F7F3F1"/>
    </svg>
  {% when 'twitter-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
      <g clip-path="url(#clip0_2475_230)">
        <path d="M12.6199 8.67389L19.4457 0.910156H17.8284L11.8989 7.64989L7.16654 0.910156H1.70703L8.86494 11.1027L1.70703 19.2435H3.3243L9.58211 12.1244L14.5809 19.2435H20.0404L12.6199 8.67389ZM10.4041 11.1922L9.67778 10.1766L3.90752 2.10317H6.39197L11.0501 8.62112L11.7734 9.63671L17.8276 18.1086H15.3432L10.4041 11.1922Z" fill="#F7F3F1"/>
      </g>
      <defs>
        <clipPath id="clip0_2475_230">
          <rect width="20" height="20" fill="white" transform="translate(0.874023 0.0766602)"/>
        </clipPath>
      </defs>
    </svg>
  {% when 'hamburger-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"  class="{{ class }}">
      <mask id="mask0_2546_10" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
        <rect width="30" height="30" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_2546_10)">
        <path d="M0.999918 23.5642V22.1538H27.6666V23.5642H0.999918ZM0.999918 15.4871V14.0771H27.6666V15.4871H0.999918ZM0.999918 7.41044V6.00002H27.6666V7.41044H0.999918Z" fill="#F7F3F1"/>
      </g>
    </svg>
  {% when 'chat' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
      <foreignObject x="-42" y="-42" width="146" height="146"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(21px);clip-path:url(#bgblur_0_60_1123_clip_path);height:100%;width:100%"></div></foreignObject><circle data-figma-bg-blur-radius="42" cx="31" cy="31" r="30.5" fill="url(#paint0_radial_60_1123)" stroke="url(#paint1_linear_60_1123)"/>
      <path d="M20.2992 43.9588V22.6002C20.2992 21.9669 20.5235 21.4273 20.9749 20.9759C21.4263 20.5245 21.966 20.3002 22.5992 20.3002H41.7992C42.4325 20.3002 42.9721 20.5245 43.4235 20.9759C43.8749 21.4273 44.0992 21.9669 44.0992 22.6002V37.0002C44.0992 37.6335 43.8749 38.1731 43.4235 38.6245C42.9721 39.0759 42.4325 39.3002 41.7992 39.3002H24.9992H24.9578L24.9285 39.3295L20.2992 43.9588ZM41.7992 37.1002H41.8992V37.0002V22.6002V22.5002H41.7992H22.5992H22.4992V22.6002V38.3502V38.5879L22.6691 38.4217L24.02 37.1002H41.7992Z" fill="#F7F3F1" stroke="#393939" stroke-width="0.2"/>
      <defs>
        <clipPath id="bgblur_0_60_1123_clip_path"><circle transform="translate(42 42)" cx="31" cy="31" r="30.5"/>
        </clipPath>
        <radialGradient id="paint0_radial_60_1123" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1.53969 2.78512) rotate(44.0741) scale(81.4816 130.318)">
          <stop stop-color="white" stop-opacity="0.4"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </radialGradient>
        <linearGradient id="paint1_linear_60_1123" x1="-4.29412" y1="29.2353" x2="61" y2="31" gradientUnits="userSpaceOnUse">
          <stop stop-color="#A8875D"/>
          <stop offset="0.205" stop-color="#D6B890"/>
          <stop offset="0.32" stop-color="#EAD5AD"/>
          <stop offset="0.435" stop-color="#FFEAC6"/>
          <stop offset="0.57" stop-color="#D7B883"/>
          <stop offset="0.71" stop-color="#AD833B"/>
          <stop offset="0.85" stop-color="#CFAD76"/>
          <stop offset="1" stop-color="#E3CD9D"/>
        </linearGradient>
      </defs>
    </svg>
  {% when 'right-caret-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256" class="{{ class }}">
      <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
    </svg>
  {% when 'left-caret-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256">
      <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
    </svg>
  {% when 'down-caret-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256">
      <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
    </svg>
  {% when 'minus-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none" class="{{ class }}">
      <mask id="mask0_3071_9476" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="24">
        <rect x="0.5" width="24" height="24" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_3071_9476)">
        <path d="M6 12.75V11.25H19V12.75H6Z" fill="#F7F3F1"/>
      </g>
    </svg>
  {% when 'plus-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none" class="{{ class }}">
      <mask id="mask0_3071_9480" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="24">
        <rect x="0.5" width="24" height="24" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_3071_9480)">
        <path d="M11.75 20.5V12.75H4V11.25H11.75V3.5H13.25V11.25H21V12.75H13.25V20.5H11.75Z" fill="#F7F3F1"/>
      </g>
    </svg>
  {% when 'caret-icon-pdp' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none" class="{{ class }}">
      <mask id="mask0_3789_3191" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
        <rect x="40" width="40" height="40" transform="rotate(90 40 0)" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_3789_3191)">
        <path d="M23.1073 20L15.1757 12.0683L16.6669 10.5771L26.0898 20L16.6669 29.4229L15.1757 27.9317L23.1073 20Z" fill="white"/>
      </g>
    </svg>
  {% when 'arrow-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="{{ class }}">
      <mask id="mask0_3071_12890" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
        <rect width="20" height="20" transform="matrix(-1 8.74228e-08 8.74228e-08 1 20 0)" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_3071_12890)">
        <path d="M13.3125 18.0504L14.5088 16.8541L7.79604 10.1414L7.65462 9.99996L7.79604 9.85854L14.5088 3.14579L13.3125 1.94947L5.26197 9.99996L13.3125 18.0504Z" fill="#F7F3F1" stroke="black" stroke-width="0.4"/>
      </g>
    </svg>
  {% when 'filter-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="{{ class }}">
      <mask id="mask0_3071_12859" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
        <rect x="0.1" y="0.1" width="19.8" height="19.8" fill="#D9D9D9" stroke="#2B2B2B" stroke-width="0.2"/>
      </mask>
      <g mask="url(#mask0_3071_12859)">
        <path d="M6.00128 10.8436V16.6485H4.51417V10.8436V10.7436H4.41417H2.82705V9.25649H7.6884V10.7436H6.10128H6.00128V10.8436ZM11.1626 5.88226H12.7497V7.36938H7.8884V5.88226H9.47552H9.57552V5.78226V3.35159H11.0626V5.78226V5.88226H11.1626ZM16.124 14.2178V16.6485H14.6369V14.2178V14.1178H14.5369H12.9497V12.6307H17.8111V14.1178H16.224H16.124V14.2178ZM4.51417 7.36938V3.35159H6.00128V7.36938H4.51417ZM9.57552 16.6485V9.25649H11.0626V16.6485H9.57552ZM14.6369 10.7436V3.35159H16.124V10.7436H14.6369Z" fill="#E9DED9" stroke="#2B2B2B" stroke-width="0.2"/>
      </g>
    </svg>  
  {% when 'sort-by-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="{{ class }}">
      <mask id="mask0_3071_12869" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
        <rect x="0.15" y="0.15" width="19.7" height="19.7" fill="#D9D9D9" stroke="#2B2B2B" stroke-width="0.3"/>
      </mask>
      <g mask="url(#mask0_3071_12869)">
        <path d="M8.78196 14.9113V13.5242H11.8562V14.9113H8.78196ZM5.40773 10.6935V9.30639H15.2304V10.6935H5.40773ZM2.87705 6.47572V5.0886H17.7611V6.47572H2.87705Z" fill="#F7F3F1" stroke="#2B2B2B" stroke-width="0.3"/>
      </g>
    </svg>
  {%  when 'filter-arrow-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="{{ class }}">
      <mask id="mask0_3071_12996" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
        <rect x="0.5" y="19.5" width="19" height="19" transform="rotate(-90 0.5 19.5)" fill="#D9D9D9" stroke="#2B2B2B"/>
      </mask>
      <g mask="url(#mask0_3071_12996)">
        <path d="M18.0505 13.3125L16.8542 14.5088L10.1414 7.7961L10 7.65468L9.85858 7.7961L3.14583 14.5088L1.94951 13.3125L10 5.26203L18.0505 13.3125Z" fill="#F7F3F1" stroke="#2B2B2B" stroke-width="0.4"/>
      </g>
    </svg>
    {% when 'icon-video-play' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" class="{{ class }}" role="img" aria-label="Play video">
        <foreignObject x="-3" y="-3" width="70" height="70"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(1.5px);clip-path:url(#bgblur_0_1000_548_clip_path);height:100%;width:100%"></div></foreignObject><circle data-figma-bg-blur-radius="3" cx="32" cy="32" r="31.25" fill="url(#paint0_linear_1000_548)" fill-opacity="0.5" stroke="url(#paint1_linear_1000_548)" stroke-width="1.5"/>
        <path d="M45.2026 31.134C45.8693 31.5189 45.8693 32.4812 45.2026 32.8661L26.1486 43.867C25.4819 44.2519 24.6486 43.7707 24.6486 43.0009L24.6486 20.9992C24.6486 20.2294 25.4819 19.7483 26.1486 20.1332L45.2026 31.134Z" fill="#2B2B2B"/>
        <defs>
          <clipPath id="bgblur_0_1000_548_clip_path" transform="translate(3 3)"><circle cx="32" cy="32" r="31.25"/>
        </clipPath><linearGradient id="paint0_linear_1000_548" x1="32" y1="0" x2="32" y2="64" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="1" stop-color="white" stop-opacity="0.9"/>
        </linearGradient>
        <linearGradient id="paint1_linear_1000_548" x1="-5.64706" y1="30.1176" x2="64" y2="32" gradientUnits="userSpaceOnUse">
          <stop stop-color="#A8875D"/>
          <stop offset="0.205" stop-color="#D6B890"/>
          <stop offset="0.32" stop-color="#EAD5AD"/>
          <stop offset="0.435" stop-color="#FFEAC6"/>
          <stop offset="0.57" stop-color="#D7B883"/>
          <stop offset="0.71" stop-color="#AD833B"/>
          <stop offset="0.85" stop-color="#CFAD76"/>
          <stop offset="1" stop-color="#E3CD9D"/>
        </linearGradient>
        </defs>
      </svg>
    {%  when 'search-icon-store-locator' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" class="{{ class }}">
        <path d="M12.8333 22.1667C17.988 22.1667 22.1667 17.988 22.1667 12.8333C22.1667 7.67868 17.988 3.5 12.8333 3.5C7.67868 3.5 3.5 7.67868 3.5 12.8333C3.5 17.988 7.67868 22.1667 12.8333 22.1667Z" stroke="#0F0F0F" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.4969 24.4969L19.4219 19.4219" stroke="#0F0F0F" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%  when 'target-icon' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none" class="{{ class }}">
        <mask id="mask0_844_1114" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="31">
          <rect y="0.5" width="30" height="30" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_844_1114)">
          <path d="M15 28C13.2708 28 11.6458 27.6719 10.125 27.0156C8.60417 26.3594 7.28125 25.4688 6.15625 24.3438C5.03125 23.2188 4.14063 21.8958 3.48438 20.375C2.82812 18.8542 2.5 17.2292 2.5 15.5C2.5 13.7708 2.82812 12.1458 3.48438 10.625C4.14063 9.10417 5.03125 7.78125 6.15625 6.65625C7.28125 5.53125 8.60417 4.64063 10.125 3.98438C11.6458 3.32812 13.2708 3 15 3C16.7292 3 18.3542 3.32812 19.875 3.98438C21.3958 4.64063 22.7188 5.53125 23.8438 6.65625C24.9688 7.78125 25.8594 9.10417 26.5156 10.625C27.1719 12.1458 27.5 13.7708 27.5 15.5C27.5 17.2292 27.1719 18.8542 26.5156 20.375C25.8594 21.8958 24.9688 23.2188 23.8438 24.3438C22.7188 25.4688 21.3958 26.3594 19.875 27.0156C18.3542 27.6719 16.7292 28 15 28ZM15 25.5C17.7917 25.5 20.1562 24.5312 22.0938 22.5938C24.0312 20.6562 25 18.2917 25 15.5C25 12.7083 24.0312 10.3438 22.0938 8.40625C20.1562 6.46875 17.7917 5.5 15 5.5C12.2083 5.5 9.84375 6.46875 7.90625 8.40625C5.96875 10.3438 5 12.7083 5 15.5C5 18.2917 5.96875 20.6562 7.90625 22.5938C9.84375 24.5312 12.2083 25.5 15 25.5ZM15 23C12.9167 23 11.1458 22.2708 9.6875 20.8125C8.22917 19.3542 7.5 17.5833 7.5 15.5C7.5 13.4167 8.22917 11.6458 9.6875 10.1875C11.1458 8.72917 12.9167 8 15 8C17.0833 8 18.8542 8.72917 20.3125 10.1875C21.7708 11.6458 22.5 13.4167 22.5 15.5C22.5 17.5833 21.7708 19.3542 20.3125 20.8125C18.8542 22.2708 17.0833 23 15 23ZM15 20.5C16.375 20.5 17.5521 20.0104 18.5312 19.0312C19.5104 18.0521 20 16.875 20 15.5C20 14.125 19.5104 12.9479 18.5312 11.9688C17.5521 10.9896 16.375 10.5 15 10.5C13.625 10.5 12.4479 10.9896 11.4688 11.9688C10.4896 12.9479 10 14.125 10 15.5C10 16.875 10.4896 18.0521 11.4688 19.0312C12.4479 20.0104 13.625 20.5 15 20.5ZM15 18C14.3125 18 13.724 17.7552 13.2344 17.2656C12.7448 16.776 12.5 16.1875 12.5 15.5C12.5 14.8125 12.7448 14.224 13.2344 13.7344C13.724 13.2448 14.3125 13 15 13C15.6875 13 16.276 13.2448 16.7656 13.7344C17.2552 14.224 17.5 14.8125 17.5 15.5C17.5 16.1875 17.2552 16.776 16.7656 17.2656C16.276 17.7552 15.6875 18 15 18Z" fill="#F7F3F1"/>
        </g>
      </svg>
    {%  when 'location-icon' %}
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5 17.492C14.3056 16.0497 15.6684 14.6645 16.5886 13.3364C17.5087 12.0082 17.9688 10.7399 17.9688 9.53126C17.9688 8.51195 17.7825 7.6428 17.4099 6.92381C17.0373 6.20483 16.5756 5.62265 16.0247 5.17727C15.4738 4.73189 14.8804 4.4087 14.2444 4.20771C13.6084 4.00672 13.0269 3.90623 12.5 3.90623C11.9731 3.90623 11.3916 4.00672 10.7556 4.20771C10.1197 4.4087 9.52623 4.73189 8.97534 5.17727C8.42446 5.62265 7.96272 6.20483 7.59013 6.92381C7.21753 7.6428 7.03123 8.51195 7.03123 9.53126C7.03123 10.7399 7.4913 12.0082 8.41144 13.3364C9.33159 14.6645 10.6944 16.0497 12.5 17.492ZM12.5 19.4711C10.1389 17.7123 8.37675 16.0089 7.21357 14.361C6.05038 12.713 5.46878 11.103 5.46878 9.5311C5.46878 8.34379 5.68178 7.3028 6.10779 6.40813C6.53382 5.51346 7.0818 4.76364 7.75175 4.15868C8.4217 3.55371 9.17539 3.09999 10.0128 2.79751C10.8502 2.49502 11.6793 2.34378 12.5 2.34378C13.3207 2.34378 14.1498 2.49502 14.9872 2.79751C15.8246 3.09999 16.5783 3.55371 17.2483 4.15868C17.9182 4.76364 18.4662 5.51346 18.8922 6.40813C19.3182 7.3028 19.5312 8.34379 19.5312 9.5311C19.5312 11.103 18.9496 12.713 17.7864 14.361C16.6233 16.0089 14.8611 17.7123 12.5 19.4711ZM12.5 11.1979C13.0062 11.1979 13.4365 11.0206 13.791 10.666C14.1456 10.3115 14.3229 9.88115 14.3229 9.37501C14.3229 8.86886 14.1456 8.43851 13.791 8.08396C13.4365 7.7294 13.0062 7.55211 12.5 7.55211C11.9939 7.55211 11.5635 7.7294 11.209 8.08396C10.8544 8.43851 10.6771 8.86886 10.6771 9.37501C10.6771 9.88115 10.8544 10.3115 11.209 10.666C11.5635 11.0206 11.9939 11.1979 12.5 11.1979ZM5.46878 22.6562V21.0938H19.5312V22.6562H5.46878Z" fill="black"/>
</svg>
    {%  when 'phone-icon' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="{{ class }}">
        <g clip-path="url(#clip0_844_1142)">
          <path d="M12.5143 18.5714C13.394 19.139 14.4424 19.3863 15.483 19.2718C16.5237 19.1574 17.4932 18.6881 18.2286 17.9429L18.8714 17.3143C19.1533 17.026 19.3111 16.6389 19.3111 16.2357C19.3111 15.8326 19.1533 15.4454 18.8714 15.1571L16.1428 12.4571C15.857 12.1762 15.4722 12.0188 15.0714 12.0188C14.6706 12.0188 14.2859 12.1762 14 12.4571V12.4571C13.7117 12.739 13.3246 12.8968 12.9214 12.8968C12.5183 12.8968 12.1311 12.739 11.8428 12.4571L7.55713 8.17142C7.41416 8.03053 7.30063 7.86262 7.22314 7.67746C7.14565 7.4923 7.10574 7.29358 7.10574 7.09285C7.10574 6.89213 7.14565 6.69341 7.22314 6.50824C7.30063 6.32308 7.41416 6.15517 7.55713 6.01428V6.01428C7.83807 5.72842 7.99549 5.34365 7.99549 4.94285C7.99549 4.54205 7.83807 4.15728 7.55713 3.87142L4.84285 1.15714C4.55457 0.875302 4.16743 0.717499 3.76427 0.717499C3.36112 0.717499 2.97398 0.875302 2.6857 1.15714L2.05713 1.79999C1.31191 2.53534 0.842609 3.50485 0.728136 4.54552C0.613663 5.58618 0.861 6.63453 1.42856 7.51428C4.38577 11.8725 8.14847 15.6255 12.5143 18.5714V18.5714Z" stroke="#F7F3F1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_844_1142">
            <rect width="20" height="20" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    {%  when 'direction-icon' %}
     <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.0625 27.7499V25.5865C11.4584 25.3189 9.26605 24.2948 7.48559 22.5144C5.70516 20.7339 4.68112 18.5416 4.4135 15.9375H2.25006V14.0625H4.4135C4.68112 11.4584 5.70516 9.26605 7.48559 7.48559C9.26605 5.70516 11.4584 4.68113 14.0625 4.4135V2.25006H15.9375V4.4135C18.5416 4.68113 20.7339 5.70516 22.5144 7.48559C24.2948 9.26605 25.3189 11.4584 25.5865 14.0625H27.7499V15.9375H25.5865C25.3189 18.5416 24.2948 20.7339 22.5144 22.5144C20.7339 24.2948 18.5416 25.3189 15.9375 25.5865V27.7499H14.0625ZM15 23.75C17.4167 23.75 19.4792 22.8958 21.1875 21.1875C22.8958 19.4792 23.75 17.4167 23.75 15C23.75 12.5833 22.8958 10.5208 21.1875 8.8125C19.4792 7.10417 17.4167 6.25 15 6.25C12.5833 6.25 10.5208 7.10417 8.8125 8.8125C7.10417 10.5208 6.25 12.5833 6.25 15C6.25 17.4167 7.10417 19.4792 8.8125 21.1875C10.5208 22.8958 12.5833 23.75 15 23.75ZM15 19.375C13.7969 19.375 12.767 18.9466 11.9102 18.0898C11.0534 17.233 10.625 16.2031 10.625 15C10.625 13.7969 11.0534 12.767 11.9102 11.9102C12.767 11.0534 13.7969 10.625 15 10.625C16.2031 10.625 17.233 11.0534 18.0898 11.9102C18.9466 12.767 19.375 13.7969 19.375 15C19.375 16.2031 18.9466 17.233 18.0898 18.0898C17.233 18.9466 16.2031 19.375 15 19.375ZM15 17.5C15.6875 17.5 16.276 17.2552 16.7656 16.7656C17.2552 16.276 17.5 15.6875 17.5 15C17.5 14.3125 17.2552 13.724 16.7656 13.2344C16.276 12.7448 15.6875 12.5 15 12.5C14.3125 12.5 13.724 12.7448 13.2344 13.2344C12.7448 13.724 12.5 14.3125 12.5 15C12.5 15.6875 12.7448 16.276 13.2344 16.7656C13.724 17.2552 14.3125 17.5 15 17.5Z" fill="black"/>
</svg>


    {%  when 'map-icon' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" class="{{ class }}"> 
        <mask id="mask0_844_1120" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
          <rect width="28" height="28" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_844_1120)">
          <path d="M14 25.6667C10.8694 23.0028 8.53121 20.5285 6.98538 18.2437C5.43954 15.959 4.66663 13.8444 4.66663 11.9C4.66663 8.98333 5.60482 6.65972 7.48121 4.92917C9.3576 3.19861 11.5305 2.33333 14 2.33333C14.2852 2.33333 14.5606 2.34306 14.8263 2.3625C15.0921 2.38194 15.3611 2.41762 15.6333 2.46954V4.4625C15.3741 4.39775 15.1099 4.35079 14.8408 4.32162C14.5719 4.29246 14.2916 4.27787 14 4.27787C11.927 4.27787 10.1773 4.98983 8.75083 6.41375C7.32439 7.83786 6.61117 9.66661 6.61117 11.9C6.61117 13.3325 7.22367 14.9836 8.44867 16.8534C9.67367 18.7233 11.5241 20.8056 14 23.1C16.5147 20.8056 18.3749 18.7233 19.5804 16.8534C20.786 14.9836 21.3888 13.3325 21.3888 11.9C21.3888 11.7833 21.3855 11.6667 21.3791 11.55C21.3727 11.4333 21.363 11.3167 21.35 11.2H23.3138C23.3268 11.3167 23.3333 11.4333 23.3333 11.55V11.9C23.3333 13.8444 22.5604 15.959 21.0145 18.2437C19.4687 20.5285 17.1305 23.0028 14 25.6667ZM14.0017 13.8055C14.5903 13.8055 15.0936 13.5958 15.5117 13.1766C15.9297 12.7576 16.1388 12.2537 16.1388 11.6649C16.1388 11.0763 15.9291 10.573 15.5099 10.155C15.0909 9.7369 14.587 9.52787 13.9982 9.52787C13.4096 9.52787 12.9063 9.73748 12.4883 10.1567C12.0702 10.5757 11.8612 11.0796 11.8612 11.6684C11.8612 12.257 12.0708 12.7603 12.49 13.1784C12.909 13.5964 13.4129 13.8055 14.0017 13.8055ZM21.2333 9.25546H23.1778V5.6H26.8333V3.65546H23.1778V0H21.2333V3.65546H17.5778V5.6H21.2333V9.25546Z" fill="#F7F3F1"/>
        </g>
      </svg>
    {%  when 'list-icon' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none" class="{{ class }}">
        <mask id="mask0_844_1127" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
          <rect width="28" height="28" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_844_1127)">
          <path d="M10.8304 22.2055V20.2612H24.5V22.2055H10.8304ZM10.8304 14.9721V13.0279H24.5V14.9721H10.8304ZM10.8304 7.71956V5.77502H24.5V7.71956H10.8304ZM5.61953 23.3138C5.04203 23.3138 4.54766 23.1145 4.13641 22.7159C3.72516 22.3173 3.51953 21.8263 3.51953 21.243C3.51953 20.6596 3.72205 20.1655 4.12707 19.7604C4.5321 19.3554 5.02628 19.1529 5.60961 19.1529C6.19295 19.1529 6.68392 19.3585 7.08253 19.7698C7.48114 20.181 7.68045 20.6754 7.68045 21.2529C7.68045 21.8197 7.47862 22.3049 7.07495 22.7086C6.67148 23.1121 6.18634 23.3138 5.61953 23.3138ZM5.61953 16.0805C5.04203 16.0805 4.54766 15.8768 4.13641 15.4694C3.72516 15.0619 3.51953 14.5721 3.51953 14C3.51953 13.428 3.72516 12.9382 4.13641 12.5306C4.54766 12.1232 5.04203 11.9196 5.61953 11.9196C6.18634 11.9196 6.67148 12.1232 7.07495 12.5306C7.47862 12.9382 7.68045 13.428 7.68045 14C7.68045 14.5721 7.47862 15.0619 7.07495 15.4694C6.67148 15.8768 6.18634 16.0805 5.61953 16.0805ZM5.59999 8.82789C5.02774 8.82789 4.53793 8.62412 4.13057 8.21656C3.72321 7.8092 3.51953 7.3194 3.51953 6.74715C3.51953 6.17509 3.72321 5.68528 4.13057 5.27773C4.53793 4.87037 5.02774 4.66669 5.59999 4.66669C6.17205 4.66669 6.66185 4.87037 7.06941 5.27773C7.47677 5.68528 7.68045 6.17509 7.68045 6.74715C7.68045 7.3194 7.47677 7.8092 7.06941 8.21656C6.66185 8.62412 6.17205 8.82789 5.59999 8.82789Z" fill="#F7F3F1"/>
        </g>
      </svg>
    {%  when 'password-eye-icon' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="eye-icon" viewBox="0 0 24 24">
        <!-- Eye -->
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"/>
        <circle cx="12" cy="12" r="3"/>
        <!-- Slash -->
        <path class="eye-slash" d="M1 1l22 22" style="opacity: 0; transition: opacity 0.3s ease;" />
      </svg>
{% endcase %}
