{%- liquid
    assign badge_position = settings.badge_position
    # Custom badges
    assign product_tags = product_card_product.tags
    assign badge_tags_1 = settings.custom_product_badge_group_1_tag_names | split: ', '
    assign badge_tags_2 = settings.custom_product_badge_group_2_tag_names | split: ', '
    assign badge_tags_3 = settings.custom_product_badge_group_3_tag_names | split: ', '
    assign badge_tags_4 = settings.custom_product_badge_group_4_tag_names | split: ', '
    assign badge_tags = badge_tags_1 | concat: badge_tags_2 | concat: badge_tags_3 | concat: badge_tags_4
    
    # Calculate discount percentage
    if product_card_product.compare_at_price > product_card_product.price
        assign discount_amount = product_card_product.compare_at_price | minus: product_card_product.price
        assign discount_percentage = discount_amount | times: 100.0 | divided_by: product_card_product.compare_at_price | round
    endif
    
    # Check for New Arrival SS26 tag
    assign show_new_arrival_badge = false
    assign has_ss26_tag = false
    assign show_womens_day_badge = false

    for product_tag in product_tags
        assign product_tag_lower = product_tag | downcase | strip

        if product_tag_lower == 'new arrival ss26'
            assign has_ss26_tag = true
        endif

        if product_tag_lower == 'new_arrivals'
            assign show_new_arrival_badge = true
        endif

        if product_tag_lower == 'womens_day_2026'
            assign show_womens_day_badge = true
        endif
    endfor

    # Exclude SS26 products
    if has_ss26_tag
        assign show_new_arrival_badge = false
    endif

-%}

{%- for badge_tag in badge_tags -%}
    {%- for product_tag in product_tags -%}
        {%- assign product_tag_lower = product_tag | downcase -%}
        {%- assign badge_tag_lower = badge_tag | downcase -%}
        {%- if product_tag_lower == badge_tag_lower -%}
            {%- capture custom_badges -%}
                {{ custom_badges }}
                <div class="badge {{ badge_tag_lower | handleize }}" data-badge="{{ badge_tag_lower | handleize }}">
                    {{ badge_tag }}
                </div>
            {%- endcapture -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}

<span class="product-card--badges {{ badge_position }}">
    {%- unless product_card_product.available -%}
        <span class="badge out-of-stock">{{ 'products.product.sold_out' | t }}</span>
    {%- endunless -%}
     {% comment %} {%- if show_new_arrival_badge -%}
    <div class="badge ss26-collection" data-badge="new-arrival">
        New Arrival
    </div>
{%- endif -%} {% endcomment %}
    {%- if product_card_product.compare_at_price > product_card_product.price and product_card_product.available -%}
        <span class="badge discount-badge">
            {{ discount_percentage }}% OFF
        </span>
    {%- endif -%}
    
    {%- if product_card_product.metafields.theme.preorder and product_card_product.available -%}
        <span class="badge pre-order">
            {{ 'products.product.pre_order' | t }}
        </span>
    {%- endif -%}
    
   
    {%- if show_womens_day_badge -%}
        <div class="badge womens-day-2026-badge" data-badge="womens-day-2026">
            <svg viewBox="0 0 856 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="4" y="4" width="848" height="208" rx="104" fill="#46296E" stroke="#E8DFF5" stroke-width="8"/>
                <path d="M227.486 85.6364H232.858V115.01C232.858 118.043 232.143 120.75 230.713 123.133C229.298 125.502 227.298 127.372 224.713 128.744C222.128 130.101 219.095 130.78 215.615 130.78C212.135 130.78 209.102 130.101 206.517 128.744C203.932 127.372 201.925 125.502 200.495 123.133C199.08 120.75 198.372 118.043 198.372 115.01V85.6364H203.744V114.577C203.744 116.743 204.221 118.671 205.174 120.36C206.127 122.036 207.485 123.357 209.246 124.325C211.023 125.278 213.146 125.754 215.615 125.754C218.085 125.754 220.207 125.278 221.984 124.325C223.76 123.357 225.117 122.036 226.056 120.36C227.009 118.671 227.486 116.743 227.486 114.577V85.6364ZM267.847 96.7273C267.587 94.5322 266.533 92.8281 264.685 91.6151C262.836 90.402 260.569 89.7955 257.883 89.7955C255.919 89.7955 254.2 90.1132 252.727 90.7486C251.269 91.384 250.128 92.2577 249.305 93.3697C248.496 94.4817 248.092 95.7453 248.092 97.1605C248.092 98.3447 248.373 99.3628 248.937 100.215C249.514 101.052 250.251 101.753 251.146 102.316C252.041 102.865 252.98 103.32 253.962 103.681C254.944 104.027 255.847 104.309 256.67 104.526L261.176 105.739C262.331 106.042 263.616 106.461 265.031 106.995C266.461 107.529 267.826 108.259 269.125 109.183C270.44 110.093 271.523 111.262 272.375 112.692C273.227 114.122 273.653 115.876 273.653 117.956C273.653 120.353 273.025 122.519 271.768 124.455C270.526 126.39 268.707 127.928 266.309 129.069C263.927 130.209 261.031 130.78 257.623 130.78C254.446 130.78 251.695 130.267 249.37 129.242C247.059 128.217 245.24 126.787 243.911 124.953C242.597 123.119 241.853 120.989 241.68 118.562H247.225C247.37 120.238 247.933 121.624 248.915 122.722C249.911 123.805 251.168 124.613 252.684 125.148C254.215 125.668 255.861 125.928 257.623 125.928C259.674 125.928 261.515 125.595 263.147 124.931C264.779 124.252 266.071 123.314 267.024 122.115C267.977 120.902 268.454 119.487 268.454 117.869C268.454 116.396 268.042 115.198 267.219 114.273C266.396 113.349 265.313 112.598 263.97 112.021C262.627 111.443 261.176 110.937 259.616 110.504L254.157 108.945C250.691 107.948 247.947 106.526 245.926 104.677C243.904 102.829 242.893 100.41 242.893 97.4205C242.893 94.9366 243.564 92.7704 244.907 90.9219C246.265 89.0589 248.084 87.6148 250.366 86.5895C252.662 85.5497 255.226 85.0298 258.056 85.0298C260.916 85.0298 263.457 85.5425 265.681 86.5678C267.905 87.5787 269.667 88.9651 270.967 90.7269C272.281 92.4888 272.974 94.4889 273.046 96.7273H267.847ZM282.485 130V85.6364H309.26V90.402H287.858V105.392H307.873V110.158H287.858V125.234H309.606V130H282.485ZM371.798 99.5H366.425C366.108 97.9548 365.552 96.5973 364.757 95.4276C363.978 94.2578 363.025 93.2758 361.898 92.4815C360.786 91.6728 359.551 91.0663 358.194 90.6619C356.836 90.2576 355.421 90.0554 353.948 90.0554C351.262 90.0554 348.829 90.7341 346.648 92.0916C344.482 93.4491 342.756 95.4492 341.471 98.092C340.2 100.735 339.565 103.977 339.565 107.818C339.565 111.66 340.2 114.902 341.471 117.544C342.756 120.187 344.482 122.187 346.648 123.545C348.829 124.902 351.262 125.581 353.948 125.581C355.421 125.581 356.836 125.379 358.194 124.974C359.551 124.57 360.786 123.971 361.898 123.176C363.025 122.368 363.978 121.379 364.757 120.209C365.552 119.025 366.108 117.667 366.425 116.136H371.798C371.393 118.404 370.657 120.433 369.588 122.223C368.519 124.014 367.191 125.538 365.602 126.794C364.014 128.036 362.23 128.982 360.252 129.632C358.288 130.282 356.187 130.607 353.948 130.607C350.165 130.607 346.8 129.682 343.854 127.834C340.908 125.985 338.59 123.357 336.9 119.949C335.211 116.541 334.366 112.497 334.366 107.818C334.366 103.139 335.211 99.0956 336.9 95.6875C338.59 92.2794 340.908 89.651 343.854 87.8026C346.8 85.9541 350.165 85.0298 353.948 85.0298C356.187 85.0298 358.288 85.3548 360.252 86.0046C362.23 86.6545 364.014 87.6076 365.602 88.864C367.191 90.1059 368.519 91.6223 369.588 93.413C370.657 95.1893 371.393 97.2183 371.798 99.5ZM417.91 107.818C417.91 112.497 417.066 116.541 415.376 119.949C413.686 123.357 411.369 125.985 408.422 127.834C405.476 129.682 402.112 130.607 398.328 130.607C394.544 130.607 391.18 129.682 388.234 127.834C385.288 125.985 382.97 123.357 381.28 119.949C379.59 116.541 378.746 112.497 378.746 107.818C378.746 103.139 379.59 99.0956 381.28 95.6875C382.97 92.2794 385.288 89.651 388.234 87.8026C391.18 85.9541 394.544 85.0298 398.328 85.0298C402.112 85.0298 405.476 85.9541 408.422 87.8026C411.369 89.651 413.686 92.2794 415.376 95.6875C417.066 99.0956 417.91 103.139 417.91 107.818ZM412.712 107.818C412.712 103.977 412.069 100.735 410.784 98.092C409.513 95.4492 407.787 93.4491 405.606 92.0916C403.44 90.7341 401.014 90.0554 398.328 90.0554C395.642 90.0554 393.209 90.7341 391.028 92.0916C388.862 93.4491 387.136 95.4492 385.851 98.092C384.58 100.735 383.945 103.977 383.945 107.818C383.945 111.66 384.58 114.902 385.851 117.544C387.136 120.187 388.862 122.187 391.028 123.545C393.209 124.902 395.642 125.581 398.328 125.581C401.014 125.581 403.44 124.902 405.606 123.545C407.787 122.187 409.513 120.187 410.784 117.544C412.069 114.902 412.712 111.66 412.712 107.818ZM440.634 130H426.943V85.6364H441.24C445.544 85.6364 449.226 86.5245 452.288 88.3008C455.349 90.0626 457.696 92.5971 459.328 95.9041C460.96 99.1967 461.776 103.139 461.776 107.732C461.776 112.353 460.953 116.331 459.306 119.667C457.66 122.989 455.263 125.545 452.115 127.336C448.966 129.112 445.139 130 440.634 130ZM432.316 125.234H440.287C443.955 125.234 446.995 124.527 449.407 123.112C451.819 121.696 453.617 119.682 454.801 117.068C455.985 114.454 456.577 111.342 456.577 107.732C456.577 104.15 455.992 101.067 454.822 98.4819C453.653 95.8825 451.905 93.8896 449.58 92.5032C447.255 91.1024 444.36 90.402 440.894 90.402H432.316V125.234ZM470.787 130V85.6364H497.561V90.402H476.159V105.392H496.175V110.158H476.159V125.234H497.908V130H470.787ZM546.951 98.3952C546.777 96.6478 546.034 95.2904 544.719 94.3228C543.405 93.3552 541.622 92.8714 539.369 92.8714C537.838 92.8714 536.546 93.0881 535.491 93.5213C534.437 93.9401 533.628 94.525 533.065 95.2759C532.516 96.0269 532.242 96.8789 532.242 97.832C532.213 98.6263 532.379 99.3195 532.74 99.9116C533.116 100.504 533.628 101.016 534.278 101.45C534.928 101.868 535.679 102.237 536.531 102.554C537.383 102.858 538.293 103.118 539.261 103.334L543.246 104.287C545.181 104.721 546.958 105.298 548.575 106.02C550.193 106.742 551.593 107.63 552.778 108.685C553.962 109.739 554.879 110.981 555.529 112.411C556.193 113.84 556.532 115.479 556.547 117.328C556.532 120.043 555.839 122.397 554.467 124.39C553.11 126.368 551.146 127.906 548.575 129.004C546.019 130.087 542.936 130.628 539.326 130.628C535.744 130.628 532.625 130.079 529.968 128.982C527.325 127.884 525.26 126.26 523.772 124.108C522.299 121.942 521.527 119.263 521.454 116.071H530.531C530.632 117.559 531.058 118.801 531.809 119.797C532.574 120.779 533.592 121.523 534.863 122.028C536.148 122.519 537.6 122.765 539.217 122.765C540.806 122.765 542.185 122.534 543.355 122.072C544.539 121.61 545.456 120.967 546.106 120.144C546.756 119.321 547.081 118.375 547.081 117.306C547.081 116.31 546.784 115.472 546.192 114.793C545.615 114.115 544.763 113.537 543.636 113.06C542.524 112.584 541.16 112.151 539.542 111.761L534.712 110.548C530.971 109.638 528.018 108.215 525.852 106.28C523.686 104.345 522.61 101.738 522.624 98.4602C522.61 95.7741 523.325 93.4274 524.769 91.4201C526.227 89.4128 528.227 87.8459 530.769 86.7195C533.311 85.593 536.199 85.0298 539.434 85.0298C542.726 85.0298 545.6 85.593 548.055 86.7195C550.525 87.8459 552.445 89.4128 553.817 91.4201C555.189 93.4274 555.897 95.7525 555.94 98.3952H546.951ZM562.856 130V85.6364H572.235V103.941H591.276V85.6364H600.634V130H591.276V111.674H572.235V130H562.856ZM608.368 130V85.6364H638.261V93.3697H617.747V103.941H636.723V111.674H617.747V122.267H638.348V130H608.368ZM664.759 85.6364V130H655.379V94.5394H655.119L644.96 100.908V92.5898L655.943 85.6364H664.759ZM692.697 130.975C688.972 130.96 685.766 130.043 683.08 128.224C680.408 126.404 678.35 123.769 676.906 120.317C675.476 116.866 674.769 112.714 674.783 107.862C674.783 103.024 675.498 98.9007 676.928 95.4925C678.372 92.0844 680.43 89.4922 683.101 87.7159C685.787 85.9252 688.986 85.0298 692.697 85.0298C696.409 85.0298 699.6 85.9252 702.272 87.7159C704.958 89.5066 707.023 92.1061 708.467 95.5142C709.911 98.9079 710.626 103.024 710.612 107.862C710.612 112.728 709.89 116.887 708.446 120.339C707.016 123.79 704.965 126.426 702.294 128.245C699.622 130.065 696.423 130.975 692.697 130.975ZM692.697 123.198C695.239 123.198 697.268 121.92 698.784 119.364C700.301 116.808 701.052 112.974 701.037 107.862C701.037 104.497 700.691 101.695 699.998 99.4567C699.319 97.2183 698.351 95.5359 697.095 94.4094C695.853 93.283 694.387 92.7198 692.697 92.7198C690.17 92.7198 688.148 93.9834 686.632 96.5107C685.116 99.0379 684.35 102.821 684.336 107.862C684.336 111.27 684.675 114.115 685.354 116.396C686.047 118.664 687.022 120.368 688.278 121.509C689.535 122.635 691.008 123.198 692.697 123.198ZM734.695 130.975C730.969 130.96 727.763 130.043 725.077 128.224C722.405 126.404 720.347 123.769 718.903 120.317C717.473 116.866 716.766 112.714 716.78 107.862C716.78 103.024 717.495 98.9007 718.925 95.4925C720.369 92.0844 722.427 89.4922 725.098 87.7159C727.784 85.9252 730.983 85.0298 734.695 85.0298C738.406 85.0298 741.597 85.9252 744.269 87.7159C746.955 89.5066 749.02 92.1061 750.464 95.5142C751.909 98.9079 752.623 103.024 752.609 107.862C752.609 112.728 751.887 116.887 750.443 120.339C749.013 123.79 746.962 126.426 744.291 128.245C741.619 130.065 738.42 130.975 734.695 130.975ZM734.695 123.198C737.236 123.198 739.265 121.92 740.782 119.364C742.298 116.808 743.049 112.974 743.034 107.862C743.034 104.497 742.688 101.695 741.995 99.4567C741.316 97.2183 740.348 95.5359 739.092 94.4094C737.85 93.283 736.384 92.7198 734.695 92.7198C732.167 92.7198 730.146 93.9834 728.629 96.5107C727.113 99.0379 726.347 102.821 726.333 107.862C726.333 111.27 726.672 114.115 727.351 116.396C728.044 118.664 729.019 120.368 730.275 121.509C731.532 122.635 733.005 123.198 734.695 123.198ZM776.692 130.975C772.966 130.96 769.76 130.043 767.074 128.224C764.402 126.404 762.344 123.769 760.9 120.317C759.47 116.866 758.763 112.714 758.777 107.862C758.777 103.024 759.492 98.9007 760.922 95.4925C762.366 92.0844 764.424 89.4922 767.095 87.7159C769.781 85.9252 772.98 85.0298 776.692 85.0298C780.403 85.0298 783.595 85.9252 786.266 87.7159C788.952 89.5066 791.017 92.1061 792.461 95.5142C793.906 98.9079 794.62 103.024 794.606 107.862C794.606 112.728 793.884 116.887 792.44 120.339C791.01 123.79 788.959 126.426 786.288 128.245C783.616 130.065 780.417 130.975 776.692 130.975ZM776.692 123.198C779.233 123.198 781.262 121.92 782.779 119.364C784.295 116.808 785.046 112.974 785.031 107.862C785.031 104.497 784.685 101.695 783.992 99.4567C783.313 97.2183 782.345 95.5359 781.089 94.4094C779.847 93.283 778.381 92.7198 776.692 92.7198C774.164 92.7198 772.143 93.9834 770.626 96.5107C769.11 99.0379 768.345 102.821 768.33 107.862C768.33 111.27 768.669 114.115 769.348 116.396C770.041 118.664 771.016 120.368 772.273 121.509C773.529 122.635 775.002 123.198 776.692 123.198Z" fill="#E8DFF5"/>
                <path d="M107.182 175V159.353H91.5455V143.706H107.182V127.276C96.8879 125.451 88.4508 120.529 81.8705 112.51C75.2902 104.49 72 95.2 72 84.6382C72 72.7725 76.2023 62.6998 84.6068 54.4199C93.0114 46.14 103.142 42 115 42C126.858 42 136.989 46.14 145.393 54.4199C153.798 62.6998 158 72.7725 158 84.6382C158 95.2 154.71 104.49 148.13 112.51C141.549 120.529 133.112 125.451 122.818 127.276V143.706H138.455V159.353H122.818V175H107.182ZM134.35 104.393C139.692 99.0466 142.364 92.5922 142.364 85.0294C142.364 77.4667 139.692 71.0123 134.35 65.6662C129.008 60.3201 122.558 57.6471 115 57.6471C107.442 57.6471 100.992 60.3201 95.65 65.6662C90.3076 71.0123 87.6364 77.4667 87.6364 85.0294C87.6364 92.5922 90.3076 99.0466 95.65 104.393C100.992 109.739 107.442 112.412 115 112.412C122.558 112.412 129.008 109.739 134.35 104.393Z" fill="#FF6B6B"/>
            </svg>
        </div>
    {%- endif -%}

    {{ custom_badges }}
</span>

<style>
/* SS26 Collection Badge Styles */
.badge.ss26-collection {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: #E8F4F0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #4A9B8E;
    letter-spacing: 0.5px;
}

/* Breathing Dot Animation */
.badge.ss26-collection::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #4A9B8E;
    border-radius: 50%;
    animation: breathe 2s ease-in-out infinite;
}

/* Keyframes for breathing effect */
@keyframes breathe {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.4;
        transform: scale(0.95);
    }
}

/* Alternative breathing animation (smoother) */
@keyframes breathe-smooth {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .badge.ss26-collection {
        font-size: 12px;
        padding: 6px 12px;
        gap: 6px;
    }
    
    .badge.ss26-collection::before {
        width: 8px;
        height: 8px;
    }
}

/* Women's Day 2026 Badge Styles */
.badge.womens-day-2026-badge {
    display: inline-flex;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    line-height: 0;
}

.badge.womens-day-2026-badge svg {
    width: 120px;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .badge.womens-day-2026-badge svg {
        width: 90px;
    }

    /* Align badge and wishlist icon on the same row in mobile */
    .product-card .product-card--featured-image .product-card--badges {
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 6px;
        left: 6px;
        z-index: 30;
    }

    .product-card .wishlist-btn.grid-wishlist-btn {
        top: 6px !important;
        right: 6px !important;
        display: flex !important;
        align-items: center;
        z-index: 31 !important;
    }
}
</style>
